<?xml version="1.0"?>
<configuration>
  <!--
    Para obtener una descripción de los cambios de web.config, vea http://go.microsoft.com/fwlink/?LinkId=235367.

    Los siguientes atributos se pueden establecer en la etiqueta <httpRuntime>.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <!-- HITO PARAMETRIZABLE-->
  <connectionStrings>
    <clear/>
    <!--base de datos locales de prueba 
    <add name ="CN" connectionString ="Data Source=DESKTOP-TF0RPFA\SQLEXPRESS; Initial Catalog=ConceptLocal_031219;Integrated Security=SSPI;multipleactiveresultsets=True;"/>
     -->
    <add name="AL" connectionString="Data Source=10.0.60.11,1434; Initial Catalog=Almatex_2709;user id=sa;Password=Globalsax360"/>
    <!--<add name ="CN" connectionString ="Data Source=10.0.60.11,1434; Initial Catalog=PranaIntima_0810;User id=sa;Password=Globalsax360"/>-->
    <!--base de datos REAL      -->
    <!--<add name="CN" connectionString="Data Source=Srvsax; Initial Catalog=ConceptFbcaBdb050220;User id=sa;Password=sqltodook;" />-->
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.8"/>
    <httpRuntime targetFramework="4.5"/>
    <customErrors mode="On"/>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0"/>
      <remove name="OPTIONSVerbHandler"/>
      <remove name="TRACEVerbHandler"/>
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0"/>
    </handlers>
    <directoryBrowse enabled="true" showFlags="None"/>
    <!--//'23/04/2020 ITO:ECM-4 Conexión por HTTPS. -->
    <!--<rewrite>
        <rules>
          <clear />
          <rule name="Redirect to https"  enabled="false" stopProcessing="true"> -->
    <!--enabled="true"  enabled="false" -->
    <!--
            <match url=".*" />
            <conditions>
              <add input="{HTTPS}" pattern="off" ignoreCase="true" />
            </conditions>
            <action type="Redirect" url="https://{HTTP_HOST}{REQUEST_URI}" redirectType="Permanent" appendQueryString="false" />
          </rule>
        </rules>
    </rewrite>-->
  </system.webServer>
  <!-- HITO PARAMETRIZABLE-->
  <!--//09/12/2019 ITO : DESA-952 Separar los pedidos por marca-->
  <appSettings>
    <add key="BK" value="false"/>
    <add key="SY" value="false"/>
    <add key="LG" value="false"/>
    <!-- HITO PARAMETRIZABLE-->
    <!--//22/01/2020 ITO : ECM-8 Nombre de categorías en los productos -->
    <add key="CAT" value="false"/>
    <!--DESA-2235 constantes para tomar cliente Web y productos genericos: descuento y costoEnvio  PILAR -->
    <!--prana-->
    <add key="clienteWeb" value="73"/>
    <add key="descuento" value="DESCuni"/>
    <add key="costoEnvio" value="ENV-01gen"/>
    <add key="tamanioGenerico" value="00"/>
    <!--prana-->
    <!--almatex-->
    <!-- Producto 'descuento' con tamaño y color genérico, con abreviatura de color. En value agregar el valor del campo producto_id de la tabla Productos -->
    <!--<add key="clienteWeb" value="4842"/> 
    <add key="descuento"  value="DES-01GEN."/>  
    <add key="costoEnvio" value="ENV-01GEN."/>
    <add key="tamanioGenerico" value="00"/>-->
    <!--almatex-->
    <!-- '''''''''''''''''''''''''''''''''''''''DESA-2235 PILAR -->
  </appSettings>
</configuration>